<html>
<head>

 <%= javascript_include_tag :defaults %>
 <%= orbited_javascript %>
 <script>
 onload = function() {
 // set up shell.
 var output = $('chat_data');
 // set up stomp client.
 stomp = new STOMPClient();
 stomp.onopen = function() {
 //output.insert({"top" : "Transport openned"});
 };
 stomp.onclose = function(code) {
 output.insert({"top" : "Transport closed (code: " + code + ")"});
 };
 stomp.onerror = function(error) {
 alert("onerror: " + error);
 };
 stomp.onerrorframe = function(frame) {
 alert("onerrorframe: " + frame.body);
 };
 stomp.onconnectedframe = function() {
 output.insert({"top" : "Connected to chat room"});
 };
 stomp.onmessageframe = function(frame) {
 eval(frame.body);
 //output.insert({"top" : frame.body});
 };
 stomp.connect("<%= ConfigOrbited[:host] %>", 61613, 'UNIQUE_ID_PER_CLIENT', '');
 setTimeout("stomp.subscribe('CHANNEL_1', {exchange:''})",5000);
 };
 </script>
</head>
<body>
 <%= form_remote_tag(
 :url => push_message_path ) %>
 <%= hidden_field_tag('channel','CHANNEL_1')%>
 <%= text_field_tag( 'chat_input', '', { :size => 70, :id => 'chat_input'} ) %>
 <%= submit_tag("Say")  %>
 <%= ('<a href="/login">Login</a> to chat.')%>
 </form>
 <div id="chat_data" style="height:300px;border:1px solid black;overflow:scroll;"></div>
</body>
</html>