<div class="span-24">
	
	<script src="http://<%= HOST_W_P %>/javascripts/juggernaut/swfobject.js" type="text/javascript"></script>

	<script src="http://<%= HOST_W_P %>/javascripts/juggernaut/juggernaut.js" type="text/javascript"></script>
	<script src="http://<%= HOST_W_P %>/javascripts/defero.js?chat_id=<%= @chat_id %>&promt=true" type="text/javascript"></script>
	<form onsubmit="juggernaut.deferoSend('http://<%= HOST_W_P %>/chats/<%= @chat_id %>/messages', Form.serialize(this)); $('message').value = ''; return false;" method="post" action="#">
	<input id="form_login" type="hidden" name="username" value=""/>
      <%= text_field_tag( 'message', '', { :size => 20, :id => 'message'} ) %>
      <%= submit_tag "Add" %>
    </form>
    <ul id="chat_data" style="list-style:none">
    </ul>
	<p>Users:
		<span id='list_of_users'></span>
	</p>
	<script type="text/javascript" charset="utf-8">
		$('form_login').value = login
	</script>
</div>